<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <ul>
      <li>{{ user.name }}</li>
      <li>{{ user.points }}</li>
      <li>{{ user.github }}</li>
    </ul>
  </body>
</html>